@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

#welcome {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    text-align: center;
    font-size: 2em;
    margin: 0.8em 10% 0;
    opacity: 1;
    height: auto;
    display: none;
    span.logo {
        display: flex;
        justify-content: center;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        img {
            margin-right: 0.3em;
            height: 1.2em;
        }
    }
    &.hide {
        animation: fade-out 1s;

    }
    &.active {
        display: block;
    }

}

form#searchBar {
    justify-content: center;
    display: grid;
    margin: 1em 10%;
    justify-items: center;
    grid-template-rows: min-content repeat(3, 4em);

    #searchBarLabel {
        color: black;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 0.3em;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        background-color: hsla(0, 0%, 100%, 0.6);
        border: 1px solid #666;
        width: 100%;
        height: 100%;
        padding: 0;

        &:first-of-type {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        label {
            display: block;
            margin-left: 1em;
            margin-top: 0.4em;
            color: hsl(0, 0%, 30%);
            text-shadow: none;
        }

        input {
            font-weight: 500;
            font-size: 500 1.1em;
            font-family: 'Noto Sans', sans-serif;
            background: none;
            margin-left: 1em;
            margin-right: 1em;
            border: none;
            &:focus {
                outline: none;
            }
        }

        &:last-of-type {
            background-color: hsla(231, 29%, 33%, 0.8);
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;

            &:hover {
                background-color: hsla(231, 29%, 23%, 0.85);
                box-shadow: 0px 0px 10px 0px hsl(0, 0%, 20%) inset;
            }

            input {
                margin-left: 0;
                color: white;
                height: 100%;
                width: 100%;
                cursor: pointer;
            }
        }
    }

    &.active {
        margin-top: 2.6em;
    }

    @media (min-width: 768px) {
        grid-template-rows: min-content 4em;
        grid-template-columns:  1fr 1fr 1fr;
        grid-template-areas: "searchBarLabel searchBarLabel searchBarLabel"
        "placeInput dateInput submitSearch";

        #searchBarLabel { 
            grid-area: searchBarLabel;
        }

        fieldset:first-of-type {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            border-top-right-radius: 0;
        }

        fieldset:last-of-type{
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
        }

    }
}

#searchResult {
    &.empty {
        min-height: 150px;
    }
}


@keyframes fade-out {
    from {
      opacity: 1;
      height: 4em;
    }
    20% {
        opacity: 0;
    }
    to {
      opacity: 0;
      height: 1px;
    }
  }

